Latest Version of Css3

How to Include style

1. inline Styles
    Writing style directly inline on each inline statement
    ex=>
        <h1 style="color:red">Bharat</h1>


 2.  Using <style> tag
        style is added using the <style> element in the same document
        
    ex=> 
        <style> 
                h1{
                    color : red;
                }
        </style>

 3. External Stylesheet
                writing css in a separate document & linking it with Html File

                ex=> 
                    <head> 
                        <link rel="stylesheet" href="File_name.css">
                    </head>

  4. Color Property
            1.used to set the color of forground element text and text decorations
            color:colour_name;

            2.background-color
                background-color:black;
                
  5.Color Systems => Named Colors
                    each browser recognizes around 140 named colors
                    ex => red blue green pink orange gold etc    
                    
        
RGB Values is mostly used in TV 
         color = rgb(0,0,0); max limit is 0 - 255

        
   6.Color Systems -> Hexadecimal or hex  
                                    color = #FFFFFF
                                              r g b
    Letters => 0 1 2 3 4 5 6 7 8 9 A B C D E F  

    
===========================================================================

Text Properties
===============

text-align (direction L R center)
font-weight (bold lighter)
text-decoration (underline , cut )
line-height (gap)
letter-spacing (between space letter)
font-size ()





1. text-align 
            a.left/ :start
            b.right/ :end
            c.center
            d.justify (left and right size align :horizontal equal)
            
2. font-weight: (light , bold) range 100 - 900
                a. normal //400
                b. bold //700
                c.100
                d. bolder  } used parent to more bold
                e. lighter } used to light less to parent

3. text-decoration 
                a.underline  -> mostly used
                b.linethrough -> mostly used
                c.overline
                d.none (remove underline in anchor tag then we are use of the none properties remove any other type of decoration)
                
                want color change of the color 
                    ex=> 
                      text-decoration: red underline;

             decorated line 
                1.text-decoration: wavy pink overline
                2.text-decoration: double dotted line-through         


 4. Line-height
                Control the height of the line of text

                a.line-height: normal
                b.line-height: 2.5


5. Letter-spacing 
                controls the horizontal spacing behavior between text character

                ex=>  
                before = >abc  normal
                after  = >a  b  c

                    a. letter-spacing :normal
                    b. letter-spacing :10px -> pixels


6. Font-size units in css
        Absolute               Relative

        px                        %            // mostly used  1 inch = 96px
        pt                        em           
        pc                        rem
        cm                        ch
        mm                        vh                 
        in                        vw+many more

    Pixels (px) 
                =>  most commonly used absolute unit
                    96px = i inch
                    not suitable for respomsive wwebsites  // used for responsive => relatives units 

                ex = >
                    font-size: 50px;


7.  Font-family 
                => specifies a proritized list od one or more font family names
                
                syntx => 
                            font-family: arial;
                            font-family: avant garde, didot , sans-serif;
                            
===========================================================================================
selectors =>
               set of group of elements / individual element selectors choose and applies of the css 
               
               sytx=>
                    selector {
                        property: value;
                    }

                types of selectors 
                
                1.Universal Selector 
                                    => To select everything in a docment

                                    sytx=>
                                            *{
                                                property : value;
                                            }

                 2.Element Selector =>
                                        select all elements                            



                3.ID Selector => Selects an element based on the value of the element's id attributes 
                                            
                                    ex => 
                                            #idselector {
                                                property : value;
                                            }

                                    A.        #id_name{
                                                color:red;
                                            }

                                            /* both are same a & b  */
                                    B.         div[id="id_name"] {
                                                color: pink;
                                            }


                 4.Class Selector =>    
                                       Selects an element based on their class attributes
                                       
                                       sytx =>
                                                .class_name{
                                                    property: value;
                                                }

                5.Descendant Selector =>
                                             Eg - Selects all paragraphs inside divs  ( grandparents -> parents -> children)
                                             
                                                 sytx =>

                                                 div outer elment name  anf then inner element name 
                                                        div p{
                                                            property: value;
                                                        } 

----------------------------------------------------------------------------------------------------

                    6.Adjacent Sibling Cominator =>
                                eg - Heading3 that comesimmediately after any paragraph

                                sytx =>     
                                        p + h3{
                                            property: value;
                                        }


                    7.Child Combinator 
                                        selects all buttons which are direct children of spans ( > child combinator )

                                        sytx =>     
                                                span > button {
                                                    property : value;
                                                }

                    8.Attribute Selector 
                                        =>  Selects elements based on the presence or value of a given attributes

                                        sytx =>
                                                input[att="value"]{
                                                    property: value;
                                                }


-----------------------------------------------------------------------------------------------


color base on the priority =>
                                1.id 
                                2.class
                                3.element                
                find priority based on the specifity 
                                        1st count id 
                                        2nd count class
                                        3rd count elemnt 
                                    check which one is the highest in one 
                                if two specifity are same then use cascading 
                                who is after come he is win means colors are set


=====================================================================================================================

Pseudo Class => 
                A keyword added to a selector that specifies a special state of the selected elements(s)

                :hover
                :active
                :checked
                :nth-of-type -> changes after nth times that is called of the nth-of-type

   Pseudo Elements =>
                        A keyword added to a selector that lets you style a specific part of the selected elements(s)

                        :: first-letter
                        :: first-line
                        ::selection


==========================================================================================================================

CSS : Cascading StyleSheets
        what is cascade in CSS ?                                        
        The CSS Cascade algorithm's job is to select CSS declaration in order to determine the correct values for CSS properties
  
        h2{
            background-color: yellow;
        }

        h2{
            background-color: blue;    final color is blue
        }


    Selector Specificity =>
            what is specificity?
                ans=> specificity is an algorithm that calculates the weight that is applied to a given css declaration
                
                
                --          --                    --
                id        class attributes &       elements & 
                              pseudo-class           pseuddo-elemnent

//////// 
            Inline Specificity =>
                                Inline styles are more specific than id 

                                priority of inline 
                                1.inline style 
                                2.id
                                3.class & attributes & pseudo-class 
                                4.element & pseudo - element

==========================================================================================
!important sorting 
        To show the most specfic thing in document 

        h2{
            background-color: #fff;  !important;
        }

=============================================================================================

inheritance in CSS
                    => div{ p
                        p{  c p
                            ul{ c p
                                li*4  c 
                            }
                        }
                    }

                    input{
                        background-color: inherit;
                    }
                    button{
                        background-color: inherit;
                    }


          Note => 
                    some properties are not inherite like a ex => width , height , border etc.  manullay set of these properties    
                
 ====================================================================================
 
 color combination for best wesite follow this website can suite make interactive
 1.https://mycolor.space/?hex=%23453563&sub=1
 2.https://coolors.co/f2dfd7-fef9ff-d4c1ec-9f9fed-736ced
 3.https://www.canva.com/colors/color-palette-generator/
