*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aqua;
}

h3{
    color: purple;
}

h1,h3{
    color: #b93b37;
}

#login,#signup{
    color: #fff;
    background-color: #b93b37;
}
/* #signup{
    color:#fff;
    background-color: #b93b37;
} */


/* ancestactor selector */

p a{
    color: #0f0;
}
nav a { 
    color: hotpink;
}

p + h3{
    text-decoration: pink underline;
}

.upvote{
    color: aquamarine;
    background-color:red;
}

.upvote + button {
    color: pink;
    background-color: black;
}

/* input[type="text"]{
    color : red;
    background-color:lemonchiffon;
}
input[type="password"]{
    color:black;
    background-color: fuchsia; */
/* } */

input[type]{
    color: black;
    background-color: fuchsia;
}

button:hover{
    color:white;
    background-color: #0F0;
}

button:active{
    color:cornflowerblue;
    background-color: pink;
}
h3:hover{
    text-decoration:overline ;
}



input[type="radio"]:checked + label{
    color: Red;
    font-weight: bold;
}

div:nth-of-type(2n){
    background-color: pink;
}

h1::first-letter{
    color: #0f0;
}

p::first-line{
    color: palevioletred;
}
p::selection{
    color: #0F0;
}