div{
    background-color: #453fd4;
    padding: 10px;
    margin: 0 auto;
    height: 300px;
    width: 600px;
    font-size: 30px;
    color: red;
    background-image: url("flower.avif");
    background-size: cover;
}