Har Har Mahadev
===========================================

Box Model in CSS ->
    *Height -> By default, it sets the content areaHeight of the element
    *Width -> By default,it sets the content area width of the element
    *Border -> Used to set an element's border  // border are set of the outer line  div ki
    *Padding
    *Margin

    sytx=> height
    /* blue area is a content area oranges area are border area */
            div{
                height:100px;
                width:500px;
            }

Border =>
            *border-width 
            *border-style
            *border-color

    Border Shorthand
            
                    div{
                        border: 2px solid blockquote;
                                width style color // shortcuts
                    }
      Border Sides -> To control an individual side of the box
                    1.border-left
                    2.border-right
                    3.border-top
                    4.border-bottom
                    border-top: 2px dashed blue
                                width style color 



      Border-radius => Used to round the  corners of an element's outer border edge
                        div{
                            border-radius : 15px;
                        }                        
                        
                        div{
                            border-radius: 50%;
                        }

      Padding => 
                1.padding-Left
                2.padding-right
                3.padding-top
                4.padding-bottom
                
                
                div{
                    padding-left:50px;
                }



          Shorthand of the padding =>
                #1. for all 4 sides
                    padding: 50px;
                #2. top & buttom | left & right
                    padding : 1px 2px
                #3. top | left & right | bottom
                    padding: 1px 2px 3px;
                #4. top | right | bottom | left(clock wise)
                    padding: 1px 2px 3px 4px               


          ==================================================================          
          Margin => To set spacing on the outside of border 

          1.margin-left
          2.margin-right
          3.margin-top
          4.margin-bottom

          sytx=>
                    div{
                        margin-left:50px; 
                    } 

                    shortest hand of Margin=>
                    #1. for all 4 sides
                    Margin: 50px;
                    #2. top & buttom | left & right
                    Margin : 1px 2px
                    #3. top | left & right | bottom
                    Margin: 1px 2px 3px;
                    #4. top | right | bottom | left(clock wise)
                    Margin: 1px 2px 3px 4px
                    

===============================================================================
Em=>
                    unit -> em

                    relative to => font size of the parent, in the case of typographical properties like font-size, and 
                                    font size of the element itself.in the case of other proprties like width.



     Drawback of Em => Snowball  effect in nestd elements

Rem(Root Em)=> unit -> rem 
                relative to => Font size of the root element 



